<div class="first">
  <div class="firstinternal">
    <h1>24-Hours Flash Sale</h1>
    <p>Surprise Courses are now as low as $455 Ends today.</p>
    <input type="text" name="" value="" placeholder="What do you want to learn">
  </div>
</div>


<div class="fourth">
  <h1>Get personal learning recommendations</h1>
  <h2>Answer a few questions for your top picks</h2>
  <button type="button" name="button">Get Started</button>
</div>
<div class="fifth">
  <h2>Top categories</h2>
  <div class="fifthinternal">
    <div>
      <img src="https://image.shutterstock.com/image-illustration/colorful-flowers-leaves-art-design-260nw-743547619.jpg" alt="">
      <h3> <%= link_to "Design", design_designpage_path %></h3>
    </div>
    <div>
      <img src="https://static8.depositphotos.com/1229718/944/i/600/depositphotos_9446901-stock-photo-human-development.jpg" alt="">
      <h3><%= link_to "Developent", development_developmentpage_path %></h3>
    </div>
    <div>
      <img src="https://blog.hubspot.com/hubfs/what-is-product-marketing.jpg" alt="">
      <h3><%= link_to "Marketing", marketing_marketingpage_path %></h3>
    </div>
    <div>
      <img src="https://intellicominc.com/Portals/0/EasyDNNnews/88/img-HardwareSoftware-Resale.jpg" alt="">
      <h3><%= link_to "IT & Software", itandsoftware_itandsoftwarepage_path %></h3>
    </div>
    <div>
      <img src="https://www.leaplikeasalmon.com/wp-content/uploads/2019/08/personalprofessionaldev2.jpg" alt="">
      <h3><%= link_to "Personal Development", personaldevelopment_personaldevelopmentpage_path %></h3>
    </div>
    <div>
      <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Falejandrocremades%2Ffiles%2F2018%2F07%2Fdesk-3139127_1920-1200x773.jpg" alt="">
      <h3><%= link_to "Business", business_businesspage_path %></h3>
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG9ncmFwaGVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
      <h3><%= link_to "Photography", photography_photographypage_path %></h3>
    </div>
    <div>
      <img src="https://9b16f79ca967fd0708d1-2713572fef44aa49ec323e813b06d2d9.ssl.cf2.rackcdn.com/1140x_a10-7_cTC/NS-WKMAG0730-1595944356.jpg" alt="">
      <h3><%= link_to "Music", music_musicpage_path %></h3>
    </div>
  </div>
</div>
<div class="sixth">
  <h1>Featured topics by category</h1>

</div>
<div class="seventh">
  <h1>Become an instructor</h1>
  <h2>Top instructors from around the world teach millions of students on Udemy. We provide the tools and skills to teach what you love.</h2>
  <button type="button" name="button"> <%= link_to "Start teaching today",teaching_teachingpage_path %> </button>
</div>
